body {
  background-color: white;
}
h1 {
   background-color: Green;
   text-align: center;
   color: Black;
   font-family: albertus;
   font-size: 300%;
}
p {
 
  background-color: Red;
  text-align: center;
  color: Black;
  font-family: courier;
  font-size: 160%;
  border: 2px solid Green;
}
img { width: 300px;}

