body {
  background-color: white;
}
h1 {
   background-color: Green;
   text-align: center;
   color: Black;
   font-family: albertus;
   font-size: 300%;
}
p {
  text-align: center;
  color: black;
   
  text-align: center;
  color: Black;
  font-family: courier;
  font-size: 160%;
}
img { width: 250px;}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




