body {
  background-color: white;
}
h1 {
  
   text-align: center;
   color: Green;
   font-family: albertus;
   font-size: 300%;
}
p {
   border-style: rounded;
   border-width: 20px;
  
  text-align: center;
  color: red;
  font-family: courier;
  font-size: 160%;
  border: 2px solid Green;
}
img { width: 300px;}

